:root {
  --blue: #040049;
  --blue--0: #e7e6ff;
  --blue--100: #c2bffd;
  --blue--200: #9e99f9;
  --blue--300: #7e78f2;
  --blue--400: #645de9;
  --blue--500: #5048dd;
  --blue--600: #3f38cd;
  --blue--700: #332cb8;
  --blue--800: #2822a0;
  --blue--900: #201b87;
  --golden: #836f50;
  --golden--0: #ececeb;
  --golden--100: #e4e0da;
  --white: #fff;
  --neutrals--n1: #fafafa;
  --neutrals--n2: #ededee;
  --neutrals--n3: #cbcccd;
  --neutrals--n4: #97989b;
  --neutrals--n5: #57595b;
  --neutrals--n6: #3e3f41;
  --neutrals--n7: #252627;
  --neutrals--n8: #141415;
  --neutrals--black: #000000;
  --black: #000000;
  --success: #50b90f;
  --success--0: #defcca;
  --success--200: #57992e;
  --warning: #f8a323;
  --warning-0: #fff3cd;
  --warning--100: #ffd699;
  --warning--200: #e68c05;
  --error: #f24e44;
  --error--0: #ffb6b3;
  --error--200: #cc0a00;
  --info: #453ecb;
  --info--0: #e7e6ff;
  --info--200: #140e87;
  --font-size--title: 3.2rem;
  --font-size--xxl: 2.8rem;
  --font-size--xl: 2.2rem;
  --font-size--l: 1.8rem;
  --font-size--m: 1.6rem;
  --font-size--s: 1.4rem;
  --font-size--xs: 1.2rem;
  --margin--xs: 0.4rem;
  --margin--s: 0.8rem;
  --margin--m: 2rem;
  --margin--l: 4rem;
  --border-radius: 4px;
  --border-color: var(--neutrals--n3)
}
